img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.head h1{
	color:white;
	z-index:999;
	position:absolute;
}
.to{
	margin-top:3rem;
}
.visible{
	overflow:visible;
}
.hidden{
	border:2px solid blue;
	width:50%;
	height:50px;
	overflow:clip;
}
.scroll{
	border:2px solid blue;
	width:300px;
	height:90px;
	overflow-X:scroll;
	
}
.auto{
	border:2px solid blue;
	width:50%;
	height:8rem;
	overflow:auto;
}