.header-content{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.header-content a{
	text-decoration:none;
	margin:10px;
}
.container{
	width:80%;
	margin:auto;
	
}
.header-main{
	background: #f2f2f2;
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index:997;
}

.header-content h1{
	font-family: "Playfair Display", sans-serif;
    font-style: italic;
	font-size: 30px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
}
.header-content a{
	font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #7e7d7d;
}
.header-content a:hover{
	color:#b8a07e;
}
/**banner**/
.banner{
	background-image:url(img/home-bg.jpg);
	height:100vh;
	background-size:cover;
	background-attachment:fixed;
	position:relative;
	width:100%;
}
.banner-content{
	position: absolute;
	z-index:1;
	color:white;
	margin:30vh 0 0 10vh;
}
.banner-content h1{
	font-size:40px;
	font-weight:700;
	letter-spacing:1px;
	margin-bottom:10px;
}
.banner-content p{
	font-size: 13px;
    letter-spacing: 3px;
	font-weight:500;
}
.banner-content i{
	letter-spacing:15px;
	margin-top:10px;
	font-size:4vh;
}
.container-flex{
	width:90%;
	margin:auto;
}
/**about**/
.about-img{
	border:15px solid #d2a679;
	height:50vh;
	width:50vh;
	
}
.about{
	margin-top:20vh;
}
.about-img img{
	height:55vh;
	width:50vh;
	margin: -13vh 0 0 10vh;
    
}
.container-flex1{
	display:flex;
	width:90%;
	margin:auto;
}
.about-content{
	margin-left:25vh;
	color: #999999;
}
.about-content h1{
	font-size:4vh;
}
.about-content p{
	font-size:3vh;
	line-height:4.5vh;
}
.about-slide{
	margin-top:20vh;
	display:flex;
}
.about-box i{
	color: #b8a07e;
	font-size:6vh;
}
.about-box p{
	color: #999999
}
/**my portfolio**/
.my-portfolio{
	margin-top:25vh;
	
}
.my-port h1{
	color: #292929;
    font-weight: 600;
	font-size:35px;
	font-family: 'Barlow', sans-serif;
}
.my-port a{
	text-decoration:none;
	margin:70px 0 0 30px;
	color: #999999;
}
.my-port a:hover{
	color:#b8a07e;
}
.my-port{
	text-align:center;
}
.myport-img{
	width:90%;
	margin:auto;
}
.myport-img img{
	height:45vh;
	width:47vh;
	margin:20px;
	
}
/**journal**/
.journal{
	text-align:center;
	color: #292929;
    font-weight: 600;
	font-size:35px;
	font-family: 'Barlow', sans-serif;
	

}
.journal-content{
	margin-top:30vh;
}
.journal-img img{
	height:45vh;
	width:47vh;
	margin:90px 0 0 20px;
	
}
.journal-img{
	display:flex;
}
.journal-img h3{
	font-size: 21px;
    line-height: 24px;
    font-weight: 500;
    width:75%;
	margin-left:20px;
}
.journal-img h3:hover{
	color:#b8a07e;
}
.journal-img p{
	color: #999999;
	font-size:19px;
	margin-left:20px;
	width:75%;
}
/**address**/
.get h2{
	color: #292929;
    font-weight: 600;
	font-size:25px;
	font-family: 'Barlow', sans-serif;
}
.get{
	margin-top:30vh;
	display:flex;
}
.get pre{
	line-height:30px;
	color: #898989;
    font-family: "Poppins", helvetica;
    font-size: 15px;
    font-weight: 300;
    
}
.get-content{
	margin-left:15vh;
}
form input[type="text"]{
	  width:250px;
	  height:40px;
}
form input[type="email"]{
	width:250px;
	height:40px;
	margin-left:5vh;
}
.get-form{
	display:flex;
	margin-left:30vh;
	
}
.get-flex-1{
	margin-top:10px;
}
.get-flex-1 textarea{
	margin-top:10px;
	width:34rem;
}
.get-flex{
	display:flex;
	width:85%;
}
.get-flex-1 input[type="text"]{
	width:34rem;
}
.get-form button{
	width:34rem;
	height:50px;
	margin-top:10px;
	background-color:black;
	color:white;
}
/**footer**/
.footer{
	text-align:center;
	margin-top:30vh;
}
.footer i{
	font-size:25px;
	letter-spacing:20px;
	color: #999;
}
.footer h5{
	color: #999999;
}
.footer span{
	color: #999999;
}