*{
	margin:0;
	padding:0;
	
}
body{
	background-color: #f5f5f5;
	
}
/**header section**/
.container{
	width:90%;
	margin:auto;
}
header{
	width:100%;
	background-color:black;
	position:fixed;
	z-index:999;
}
.header-logo{
	display:flex;
	justify-content:space-between;
	align-items:center;
    padding:20px;
}
.header-logo a{
	text-decoration:none;
	margin:10px;
	color:white;
	font-size:1.2rem;
}
.header-logo a:hover{
	text-decoration:underline;
	
}
.header-logo h1{
	color:white;
	font-size:1.6rem;
	font-weight:600;
	font-family: 'Roboto Condensed', sans-serif;
} 
/**banner**/
.banner{
	background-image:url(img/hero-bg.jpg);
	height:100vh;
	background-size:cover;
	background-attachment:fixed;
	width:100%;
	position:relative;
}
.banner::after{
	content:"";
	position:absolute;
	background-color:rgba(0,0,0,0.6);
	top:0;
	bottom:0;
	right:0;
	left:0;
	
}
.banner-content {
	z-index:990;
	color:white;
	position:absolute;
	margin:42vh 0 0 35vh;
}
.banner-content h1{
	font-size:11vh;
	font-family: 'Roboto Condensed', sans-serif;
}
.banner-content h2{
	font-size:7vh;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
}
/**about section**/
.about-box{
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 15px 0 rgb(0 0 0 / 20%);
	height:100vh;
	margin-top:20vh;
	z-index:2;
	display:flex;
}
.aboutflex{
	display:flex;
}
.about-detail img{
	padding:10vh;
	border-radius:27%;
	
}
.about-detail{
	width:50%;
}

.about-profile{
	margin:10vh 0 0 0;
	line-height:5.5vh;
}
.about-profile span{
	font-size:1.6rem;
	font-weight:600;
	font-family: 'Poppins', sans-serif;
	color:black;
}
.about-profile p{
	font-size:1.3rem;
	color::#4e4e4e;
}
.about-skill{
	
	margin-left:10vh;
	line-height:8vh;
	
}
.about-skill .html{
	background-color:#cde1f8;
	width:100%;
	height:2vh;
}
.html div{
	background-color:#0d6efd;
	width:85%;
	height:2vh;
}
.about-skill .css{
	background-color:#cde1f8;
	width:100%;
	height:2vh;
}
.css div{
	width:75%;
	height:2vh;
	background-color:#0d6efd;
}
.about-skill .php{
	background-color:#cde1f8;
	width:100%;
	height:2vh;
}
.php div{
	width:50%;
	height:2vh;
	background-color:#0d6efd;
}
	
.about-skill .js{
	background-color:#cde1f8;
	width:100%;
	height:2vh;
}
.js div{
	width:90%;
	height:2vh;
	background-color:#0d6efd;
}
.about-skill h4{
	font-size:1.6rem;
	font-family: 'Poppins', sans-serif;
}
.about-me{
	padding:10vh;
	width:50%;
}
.about-me-content h1{
	font-size:2rem;
	position:relative;
	font-family: 'Poppins', sans-serif;
}
.about-me-content::after{
	content:"";
	position:absolute;
	height:3px;
	width:6rem;
	background-color:#0078ff;
	margin-top:10px;
}
.about-me p{
	margin-top:9vh;
	font-size:1.5rem;
	line-height:27px;
	color:#4e4e4e;
}
/**services section**/

.service{
	margin-top:20vh;
	background-color:#f5f5f5;
}
.service-content{
	text-align:center;
	
}

.service-content h1{
	font-size:3rem;
	
	color: #1e1e1e;
}
.service-content p{
	padding:10px;
	color:#4e4e4e;
}
.service-content div{
	width: 50px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}
.service-shadow{
    flex-wrap:wrap;
	margin-top:10vh;
	display:flex;
	justify-content:space-between;
	
}
.service-align{
	box-shadow:0px 5px 7px 0px rgba(0 0 0 /50%);
	text-align:center;
	width:30%;
	height:22rem;
	padding-top:3.5rem;
	margin:1rem;
	
}
.service-align h1{
	font-size:1.5rem;
	color: #1e1e1e;
	margin-top:50px;
}
.service-align p{
	font-size:1.3rem;
	color:#4e4e4e;
	line-height:2rem;
	margin-top:20px;
}
.service-align i{
	
	font-size:2.5rem;
	height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 1.55;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
	padding:26px;
}
	
/** counter section**/
.counter{
	margin-top:20vh;
	background-image:url(img/post-3.jpg);
	height:60vh;
	background-size: cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	position:relative;
}
.counter::after{
	content:"";
	background-color: #0078ff;
	position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
	
}
.counter-content{
	z-index:1;
	position:absolute;
	display:flex;
	padding:10vh;
    width:80%;
}
.counter-content i{
	font-size:2rem;
	color:white;
	height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 1.55;
    text-align: center;
    box-shadow: 0 0 0 13px #cde1f8;
	padding:20px;
}
.counter-space{
	width:25%;
	text-align:center;
	margin-top:15vh;
}
.counter-space h1{
	margin-top:35px;
	font-size:2rem;
	color:white;
}	
.counter-space p{
	color:white;
	font-size:17px;
}
/**portfolio section**/
.portfolio{
	margin-top:20vh;
}
.portfolio-title{
	text-align:center;
}
.portfolio-title h1{
	font-size:3rem;
	color: #1e1e1e;
}
.portfolio-title p{
	padding:10px;
	color:#4e4e4e;
}
.portfolio-title div{
	width: 50px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}
.portfolio-img img{
	width:51vh;
	height:40vh;
	margin-left:9vh;
	margin-top:9vh;
}
.portfolio-img{
	display:flex;
	width:100%;
	flex-wrap:wrap;
	margin-top:10vh;
    
}
.port-img i{
	font-size: 2.5rem;
    color: #0078ff;
	margin-left:5rem;
	
}
.port-img h2{
	font-size: 1.2rem;
	
}
.port-img{
	display:flex;
	line-height:2rem;
	margin-left:10vh;
	padding: 2rem 3% 1rem 4%;
	box-shadow: 0 0 0 13px white;
}
.port-img p{
	color: #0078ff;
}
.port-img span{
	color: #4e4e4e;
    font-size: 0.8rem;
}
/**client section**/
.client{
	margin-top:20vh;
	background-image:url(img/overlay-bg.jpg);
	height:60vh;
	background-size: cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	position:relative;
}
.client::after{
	content:"";
	background-color: #0078ff;
	position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
	
}
.client-content{
	z-index:1;
	position: absolute;
	text-align:center;
	margin:14vh 0 0 20vh;
}
.client-content img{
	border-radius:50%;
}
.client-content h1{
	font-size:1.7rem;
	color:white;
	margin-top:15px;
}
.client-content p{
	font-size:1.2rem;
	color:white;
	margin-top:15px;
	
	
}
/**blog section**/

.blog{
	margin-top:20vh;
}
.blog-title{
	text-align:center;
}
.blog-title h1{
	font-size:3rem;
	color: #1e1e1e;
}
.blog-title p{
	padding:10px;
	color:#4e4e4e;
}
.blog-title div{
	width: 50px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}
.blog-img{
	display:flex;
	margin-top:10vh;
	
}
.blog-img img{
	width:100%;
    position:relative;
}
.blog-shadow{
	box-shadow:1px 2px 10px gray;
	width:50%;
	
}

.blog-img h5{
	color: #fff;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0.1px;
	padding:4px 10px;
    background-color: #0078ff;
    border-radius: 4px;
	position:absolute;
	text-align:center;
	overflow:hidden;
}
   
/**footer**/
.footer{
	margin-top:20vh;
	background-image:url(img/overlay-bg.jpg);
	height:100vh;
	background-size: cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	position:relative;
}
.footer::after{
	content:"";
	background-color: #0078ff;
	position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}
.footer-shadow{
	background-color:white;
	width:80%;
	height:89%;
	z-index:1;
	position:absolute;
	margin:10vh 0 0 9vh;
	display:flex;
}
.footer-shadow ul{
	list-style-type:none;
	margin-left:20px;
	
}
.footer-shadow input{
	width:30rem;
	height:3rem;
	
	
}
.footer-form li{
	margin-top:20px;;
}
.footer-content{
	width:50%;
}
 
.footer-shadow h1{
	font-size:2rem;
	color: #1e1e1e;
	margin: 30px 0 0 20px;
	position:relative;
}
.footer-shadow h1::before{
	content:"";
	position:absolute;
	width: 10rem;
    height: 3px;
    background-color: #0078ff;
    margin-top:2.5rem;
}
.mas-button div{
	text-align:center;

}
.foot-but button{
	background-color:#0078ff;
	border-radius:5rem;
	color:white;
	border-color:#0078ff;
	font-size:1.2rem;
	padding:0.9rem 2.3rem;
}
.footer-get{
	width:50%;
}
.footer-get p{
	font-size: 1.25rem;
    font-weight: 300;
	line-height:2rem;
	margin-top:20px;
	margin-left:15px;
	color: #4e4e4e;
}
.footer-address{
	margin-top:10vh;
	list-style-type:none;
	margin-left:10px;
}
.footer-address li{
	line-height:2.5rem;
}
.footer-address i{
	color: #0078ff;
}
.footer-address span{
		color: #4e4e4e;
}
.footer-media{
	margin-top:30px;
	margin-left:5px;
}
.footer-media i{
	font-size:1.5rem;
	letter-spacing:1rem;
	height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 1.55;
    text-align: center;
	box-shadow: 0 0 0 10px #0078ff;
    padding: 26px;
}
/**copy right section**/
.copyright{
	
	text-align: center;
    color:white;
    padding: 25px 0;
    background: #0062d3;
}
.copyright-content h5{
	font-size:1rem;
}
.copyright-content span{
	font-weight:bold;
	font-size:1.3rem;
}

	
