<html>
 <head>
  <title>layout</title>
  <style>
    header{
	  background-color:blue;
	}
	.menu{
	  background-color:red;
	  flex-grow:1;
	}
	.main{
	  background-color:brown;
	  flex-basis:200px;
	}
	.footer{
	  background-color:yellow;
	}
  </style>
 </head>
 <body>
    <header>
	  <h1>WEB SITE</h1>
	</header>
	<main> 
	  <section class="menu">
	    <h2>MENU</h2>
	  </section>
	  <section class="main">
	    <h2>MAIN CONTANT</h2>
	  </section>
	</main>
	<footer class="footer"> <h2>FOOTER</h2></footer>
 </body>
</html>