<html> 
 <head> 
   <title>CV</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>
   <header>
     <h2 class="name">UpConstruction</h2>
	<div class="menu">
	<a href="">Home</a>
	 <a href="">About</a>
	 <a href="">Services</a>
	 <a href="">Portfolio</a>
	 <a href="">Drop Down</a>
	 <a href="">Contact</a>
	 </div>
   </header> 
   <section  class="main">
     <h1>Welcome To <br>UpConstruction</h1>
	 </section>
	 
	 <div class="container" >
	      <div>
	  <p class="parap">Minus hic non reiciendis ea <br>possimus at quia.</p>
	  <pre>
Rem id rerum. Debitis deserunt quidem delectus expedita ducimus dolor. Aut iusto ipsa.
Eos ipsum nobis ipsa soluta itaque perspiciatis fuga ipsum perspiciatis. 
Eum amet fugiat totam nisi possimus ut delectus dicta.</pre>
     <pre>
Aliquam velit deserunt autem. Inventore et saepe. Tenetur suscipit eligendi labore culpa
eos.Deserunt porro magni qui necessitatibus dolorem at animi cupiditate.	 
	 </pre>
	 </div>
	 
	 
	  <div class="side">
	    <h3>GET A QUOTE</h3>
		<p>Vel nobis odio laboriosam et hic voluptatem. Inventore
vitae totam. Rerum repellendus enim linead sero
park flows.</p>

<div>
 <form action="">
       <input type="text" placeholder="Name"><br><br>
	    <input type="email" placeholder="Mail id"><br><br>
		<input type="number" placeholder="Phone"><br><br>
		 <textarea cols="30" rows="5" placeholder="Message"> </textarea><br><br>
		 <button>Get a quote</button>
	   </form>
</div>
	  </div>
	   
	 </div>
	 <div class="contain">
	   <div class="constratct"> 
	     <h1>Construction</h1>
		 <pre>
Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea
 sunt quis dolorem dolore earum</pre>
	   </div>
	   <div class="con">
		<div class="flexcondainer">
			<div class="const1">
			<img src="img/constructions-1.jpg">
			</div>
			
			
			<section class="parah2">
			<h2>Eligendi omnis sunt<br> veritatis.</h2>
			<p>Fuga in dolorum et iste et culpa.<br> Commodi possimus nesciunt modi voluptatem<br> placeat deleniti adipisci. Cum delectus <br>doloribus non veritatis. Officia temporibus<br> illo magnam. Dolor eos et.</p></section>
		</div>
		<div class="container2">
		 <div class="const2">
		   <img src="img/constructions-2.jpg">
		  </div>
		    <section class="parah3">
			  <h2>Possimus ut sed velit<br> assumenda</h2>
			  <p>Sunt deserunt maiores voluptatem autem est<br> rerum perferendis rerum blanditiis.<br> Est laboriosam qui iste numquam<br> laboriosam voluptatem architecto. Est laudantium<br> sunt at quas aut hic. Eum dignissimos.</p>
			</section>
		</div>
		</div>
		
	<div class="container3">
	  <div class="construction3">
	    <div class="const3">
		  <img src="img/constructions-3.jpg">
		</div>
		 <section class="parah4">
		    <h2>Error beatae dolor <br>inventore aut</h2>
			<p>Dicta porro nobis. Velit cum in.<br> Nesciunt dignissimos enim molestiae<br> facilis numquam quae quaerat <br>ipsam omnis. Neque debitis ipsum at<br> architecto officia laboriosam odit.<br> Ut sunt temporibus nulla culpa.</p>
		 </section>
	  </div>
	   <div class="constructions3"> 
	    <div class="const4">
		  <img src="img/constructions-4.jpg">
		</div>
		 <section class="parah5">
		    <h2>Expedita voluptas ut<br> ut nesciunt</h2>
			<p>Aut est quidem doloremque voluptatem <br>magnam quis excepturi vero quia.<br> Eum eos doloremque architecto illo<br> at beatae dolore. Fugiat suscipit<br> et sint ratione dolores. Aut <br>aliquid ea dolores libero nobis.</p>
		 </section>
	   </div>
	</div>
</div>
<div>
   <div class="service">
      <h1>Services</h1>
	 <pre>
Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est
           eveniet deleniti fignissimos eos quam
     </pre>
   
   </div>
  <div>
   <div class="work">
     <img src="img/work.png">
	 <h1>Nesciunt Meta</h1>
	 <p>Provident nihil minus qui consequatur<br> non omnis maiores. Eos accusantium <br>minus dolores iure perferendis<br> tempore et consequatur.</p>
   </div>
    <div> 
	 <img src="img/home.png">
	</div>
  </div>
</div>
	 
 </body>
</html>