/*contact section*/
@media(min-width:360px){
.container{
		width:95%;
		margin:auto;
}
.contact{
    padding: 4rem 0;
}
.contact-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.contact-row{
    display:;
	text-align:-webkit-center;
	gap:1rem;
}
.contact-help{
    display:;
    width: 100%;
	gap:1rem;
}
.contact-address{
    width:100%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-email{
    width: 100%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-num{
    width: 100%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;	
}
.contact-row i{
    font-size: 2rem;
    color: #428bca;
    display: flex;
    height: 4rem;
    align-items: center;
    width: 4rem;
    justify-content: center;
    border-radius: 50%;
    border: 2px dotted #9eccf4;
}
.contact-row h4{
	font-size:1.1rem;
    color: #666;
    font-weight: 700;
    margin:1rem 0;
}
.contact-row p{
    line-height: 24px;
    font-size: 1rem;
    margin-bottom:0.5rem;
	color:#aaaaaa;
}
.contact-form{
	padding:2rem;
	margin-top:2rem;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}
input:focus{
	outline:none;
}
textarea:focus{
	outline:none;
}
}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.contact{
    padding: 4rem 0;
}
.contact-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.contact-row{
    display:flex;
	flex-wrap:wrap;
	text-align:-webkit-center;
	gap:2rem;
}
.contact-help{
    display:flex;
	flex-wrap:wrap;
    width:100%;
	gap:2rem;
}
.contact-address{
    width: 100%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-email{
    width: 100%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-num{
    width: 100%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;	
}
.contact-row i{
    font-size: 2rem;
    color: #428bca;
    display: flex;
    height: 4rem;
    align-items: center;
    width: 4rem;
    justify-content: center;
    border-radius: 50%;
    border: 2px dotted #9eccf4;
}
.contact-row h4{
	font-size:1.1rem;
    color: #666;
    font-weight: 700;
    margin:1rem 0;
}
.contact-row p{
    line-height: 24px;
    font-size: 1rem;
    margin-bottom:0.5rem;
	color:#aaaaaa;
}
.contact-form{
	margin-top:2rem;
	padding:2rem;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}
}
@media(min-width:992px){
.container{
    width:85%;
    margin:auto;
}
.contact{
    padding: 4rem 0;
}
.contact-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.contact-row{
    display: flex;
	text-align:-webkit-center;
	gap:1rem;
}
.contact-help{
    display: flex;
    width: 49%;
	gap:1rem;
}
.contact-address{
    width: 49%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-email{
    width: 48%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-num{
    width: 48%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;	
}
.contact-row i{
    font-size: 2rem;
    color: #428bca;
    display: flex;
    height: 4rem;
    align-items: center;
    width: 4rem;
    justify-content: center;
    border-radius: 50%;
    border: 2px dotted #9eccf4;
}
.contact-row h4{
	font-size:1.1rem;
    color: #666;
    font-weight: 700;
    margin:1rem 0;
}
.contact-row p{
    line-height: 24px;
    font-size: 1rem;
    margin-bottom:0.5rem;
	color:#aaaaaa;
}
.contact-form{
	margin-top:2rem;
	padding:2rem;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}
}