#nav-hover:hover{
	color:#eb5d1e;
}
#head-button{
	color: #fff;
    background: #ee7843;
	border:none;
	width:15%;
}
#head-button1{
	color: #fff;
    background: #ee7843;
	width:30%;
	border:none;
}
.banner-para{
	color: #a08f86;
}
.banner{
	background: #fef8f5;
    border-bottom: 2px solid #fcebe3;
}
/**about section**/
.about-icon{
	color:#f39e7a;
	font-weight:400;
}
/**service section**/
.service{
	background-color: #fef8f5;
}
.service-head{
	color: #c2b7b1;
}
.service-para::after{
	content: "";
    position: relative;
    display: flex;
    width:5rem;
    height: 0.1rem;
    background-color:#eb5d1e;
    margin: auto;
    top: 10px;
    border-radius:50%;
}
#ser .service-box{
	border-radius:6%;
}
#ser .service-box:hover{
	border-bottom:3px solid #ef7f4d;
	transform:translateY(-6px);
}
.service-box i{
	color: #ef7f4d;
	font-size:bold;
}
/**portfolio section**/
.port-head a{
	text-decoration:none;
	color:black;
	padding:0.7rem;
	font-weight:bold;
}
.port-head a:hover{
	color:#eb5d1e;
}
.port-head .port-a{
	color:#eb5d1e;
}
.port-img img{
	border-radius:6%;
}
.port-img{
	position:relative;
}
.port-img::before{
	content:"";
	position:absolute;
	width:0%;
	background-color:#00000047;
	transition:all 0.4s;
	top:0;
	left:12px;
	bottom:0;
	right:10rem;
	border-radius:6%;
}
.port-img:hover::before{
	width:94%;
}
.port-icons i{
	background-color: white;
    color: #428bca;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
	font-size:1.3rem;
}
.port-hov{
	text-align:center;
	color:white;
	line-height:1.8rem;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	opacity:0;
	padding:4rem 0;
}
.port-img:hover .port-hov{
	opacity:1;
}
/** faq section**/
.faq{
	background-color: #fef8f5;
}
.faq-button{
	background-color:red;
}
/** team section**/

.team-img{
	position:relative;
}
.team-name{
	position:absolute;
	top:0;
	bottom:0;
	right:10px;
	left:10px;
	text-align:center;
	padding-top:11rem;
	color:white;
	background:linear-gradient(rgba(78,64,57,0.1),rgba(78,64,57,0.8));
	opacity:0;
}
.team-img:hover .team-name{
	opacity:1;
}
.team-icon{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:10px;
	width:35px;
	display:flex;
	flex-direction:column;
	background-color:#4e403987;
	opacity:0;
}
.team-img:hover .team-icon{
	opacity:1;
}
.team-icon i{
	padding:10px;
	font-size:1.3rem;
	color:white;
}
/** client secction**/
.client{
	background-color: #fef8f5;
}
/**contect-section**/
.contect-icon{
	background-color:#fdf1ec;
    color:#eb5d1e;
    display:flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
	font-size:1.3rem;
	float:left;
}
.contect-icon:hover{
	background-color:#eb5d1e;
	color:white;
}
.contect-adrees{
	background: #fff;
    padding: 30px;
	border-top: 3px solid #eb5d1e;
    border-bottom: 3px solid #eb5d1e;
}
#contect-button button{
	background: #eb5d1e;
	color:white;
	border:none;
	padding:0.5rem 1.3rem;
	letter-spacing:2px;
}


