#select{
	color:blue;
    text-align:center;
}
.para{
	color:red;
	font-size:30px;
}
div,h2,p{
	color:green;
}
*{
	background-color:#ADB3CE;
}
section>p{
	color:red;
}
section+p{
	color:blue;
}

a:visited{
	background-color:red;
}
a:hover{
	background-color:green;
}
a:active{
	background-color:black;
}
/*
.psuedo::first-line{
	font-size:40px;
}*/
.psuedo::first-letter{
	font-size:30px;
}
.before::before{
	content:url(img/icon.png);
}